# Example of a configuration file for single-end reads.



# Global information.

# max_rd_len=<int>
# Maximal read length.
max_rd_len=100


# Library information.
[LIB]

# avg_ins=<int>
# This value indicates the average insert size of this
# library or the peak value position in the insert 
# size distribution figure.
avg_ins=400

# reverse_seq=<0/1>
# 0 (forward-reverse)
# 1 (reverse-forward)
# Tells SOAPdenovo if the read sequences need to be
# complementarily reversed. 
reverse_seq=0

# asm_flags=<1/2/3/4>
# 1 (only contig assembly)
# 2 (only scaffold assembly)
# 3 (both contig and scaffold assemblies)
# 4 (only gap closure)
# Which part(s) the reads are used?
asm_flags=3

# rd_len_cutof=<int>
# SOAPdenovo will cut the reads from the current 
# library to this length.
rd_len_cutof=100

# rank=<int>
# In which order are the reads used for scaffold assembly.
# Libraries with the same "rank" are used at the same
# time during scaffold assembly.
rank=1

# pair_num_cutoff=<int greater than 3>
# Cutoff of pair number for a reliable connection
# (at least 3 for short insert size).
pair_num_cutoff=3

# map_len=<int greater than 32>
# minimum aligned length to contigs for a reliable read
# location (at least 32 for short insert size).
map_len=32


# Input data files.
# Comment/uncomment depending on your data type.
# For this example, we're using a FastQ file.

# q=<file>
# FastQ file for single-end reads.
q=/home/user/Downloads/CWL_Tools/single_end_reads.fq

## f=<file>
## FastA file for single-end reads.
#f=/home/user/Downloads/CWL_Tools/single_end_reads.fa

## b=<file>
## BAM file for single-end reads.
#b=/home/user/Downloads/CWL_Tools/single_end_reads.bam
